.hide {
	display: none;
}
.show {
	display: inherit;
}
#user_name {
	margin-right: 15px;
	display: inline-block;
	padding-left: 20px;
	background-image: url('../img/icons/white/user_icon&16.png');
	background-repeat: no-repeat;
	background-position: top 2px left;
}

#user_name img {
	margin-top: 2px;
}

.user-name {
	float:right;
}

.user-dropdown a:hover {
	text-shadow: 1px 1px 1px rgb(21,130,219);
	color:black;
}

.user-name li {
	padding-left: 20px;
	display: inherit;
}


.user-name li a{
	display: inherit;
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.user-dropdown {
	display: none;
	margin-left: 30px;
	text-align: right;
	padding-right: 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-bottom: 5px;
	margin-top: 11px;
	font-size: 11px;
	padding-left: 10px;
	position: absolute;
	background: rgb(21,130,219);
}

body a {
	color:white;
	text-decoration: none;
	text-transform: none;
}

body {
	font-family: "nevis", Tahoma sans-serif;
	margin: 0;
}

body form {
	font-size: 18px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0 37.5%;
	width: 25%;
	background-color: rgb(21,130,219);
}

body form .submit {
	font-size: 18px;
	margin-left: 10%;
	float: left;
	font-family: "Nevis", Tahoma sans-serif;
	border: none;
	background: white;
	color: rgb(21,130,219);
}

body fieldset {
	text-align: center;
	border:none;
}

body fieldset:last-child {
	font-size: 14px;
}
body fieldset input {	
	text-align: center;
	padding: 4px 5px;
	border: white;
	background: white;
	box-shadow: 0 0 2px white;
	margin-left: 5px;
	width: 80%;
}
body fieldset button {
	font-size: 18px;
	margin-left: 10%;
	float: left;
	font-family: "Nevis", Tahoma sans-serif;
	border: none;
	background: white;
	color: rgb(21,130,219);
}

header nav {
	padding: 10px 1%;
	text-shadow: 0 0 1px black;
	color: white;
	font-family: TahomaBold;
	font-size: 18px;
	background-color: rgb(21,130,219);
}

header nav .today-count {
	box-shadow: 0 0 1px black;
	text-shadow: 1px 1px 1px white;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 200px;
	background: white;
	padding: 0 3px;
}
header .dropdown-menu {
	cursor: pointer;
	display: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-bottom: 5px;
	margin-top: 4px;
	box-shadow: 1px 1px 1px black;
	font-size: 12px;
	padding-left: 10px;
	position: absolute;
	background: rgb(21,130,219);
}

header .dropdown-menu li:hover {
	text-shadow:1px 1px 1px rgb(21,130,219);
	color: rgba(0, 0, 0, 0.7);
}

header .dropdown-menu li:first-child {
	font-size: 15px;
}

header nav .logo {
	padding-right: 25px;
	background-image: url(../img/icons/white/sq_br_down_icon&16.png);
	background-repeat: no-repeat;
	background-position: center right;
}


.nav{
	padding:0;
	margin:0;
	list-style: none;
}

header li {
	font-size: 17px;
	margin-right: 30px;
	display: inline;
}


.nav > li:first-child {
	margin-right: 50px;
	font-size: 22px;
	float:left;

}

header li span {
	box-shadow: 0 0 1px black;
	text-shadow: 1px 1px 1px white;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 200px;
	background: white;
	padding: 0 3px;
}

body aside ul {
	padding-left: 10px;
	list-style: none;
}

body aside {
	display: inline-block;
	text-shadow: 1px 2px 2px white;
	font-family: "TahomaBold", tahoma sans-serif;
	background-image: url(../img/background.png);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	width: auto;
	height: auto;
	background: #f3f3f3;
	padding: 10px 1% 10px 1%;
}
body aside > div {
	height: auto;
	display: inline-block;
}
body aside li.folder {
	padding: 3px 0 3px 20px;
	cursor: pointer;
	padding-left: 20px;
	background-image: url(../img/icons/black/folder_icon&16.png);
	background-repeat: no-repeat;
	background-position: top 5px left;

}

body aside .file:hover .fileDetails {
	display: inline-block;
	position: absolute;
}

body aside li.folder-open {
	padding: 3px 0 3px 20px;
	cursor: pointer;
	padding-left: 20px;
	background-image: url(../img/icons/black/folder_open_icon&16.png);
	background-repeat: no-repeat;
	background-position: top 5px left;

}

body aside .folder ul {
	padding-left: 0;
}

body aside li.file {
	margin-top: 5px;
	background-image: url(../img/icons/black/doc_lines_icon&16.png);
	background-repeat: no-repeat;
	background-position-x:16px;  
}

body aside li.file img{
	width: 12px;
	height: 12px;
	margin-right: 22px;
}
body aside .header{
	padding-bottom: 5px;
	border-bottom: solid thin rgb(21,130,219);
	font-size: 23px;
	padding-left: 20px;
	background-image: url(../img/icons/black/inbox_icon&16.png);
	background-position: center left;
	background-repeat: no-repeat;
}

aside .header img {
	margin-right: 10px;
	margin-left: 20px;
	vertical-align: middle;
}
aside .closed img {
	float:right;
	margin-right: 5%;
}

.header div {
	display: inline-block;
}

.shopping-count, .completed-count, .work-count, .today-count{
	font-size: 17px;
	padding: 0 5px;
	border-radius: 200px;
	color: white;
	text-shadow: 0 0 1px rgb(21,130,219);
	background: rgb(21,130,219);
}
.shopping-count, .work-count {
	font-size: 13px;
}

aside .folder div span {
	font-size: 13px;
	padding: 0 5px;
	border-radius: 200px;
	color: white;
	text-shadow: 0 0 1px rgb(21,130,219);
	background: rgb(21,130,219);
}

.folder-name {
	display: inline-block;
}

.header input {
	border-style: none;
	border: solid thin rgb(21,130,219);
	background: white;
}

form .text-error {
	background: rgb(21,130,219);
	color:white;
	text-shadow: 0 0 1px black;
	width: 200px;
	position: absolute;
	float:top right;
}

section article {
	margin-left: 10%;
	text-align: center;
	display: inline-block;
	font-family: TahomaBold;
	margin: auto;
	display: inline-block;
	vertical-align: top;
}

.fileDetails {
	font-size: 15px;
	display: none;
	position: inherit;
	float:right;
	text-shadow: 1px 2px 2px white;
	font-family: "TahomaBold", tahoma sans-serif;
	background-image: url(../img/background.png);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	width: auto;
	height: auto;
	background: #f3f3f3;
	padding: 10px 1% 10px 1%;
}

.fileDetails th , .fileDetails td {
	border-collapse: collapse;
	padding:10px 0;
	border-bottom: solid thin rgb(21,130,219);
}
.fileDetails tbody tr:last-child th, .fileDetails tbody tr:last-child td {
	border-collapse: collapse;
	padding:10px 0;
	border-bottom: solid thin rgb(21,130,219);
}

.fileDetails table {
	border-collapse: collapse;
}

.hellolMsg {
	font-size: 20px;
	margin: auto 3%;

}

@font-face
{
	font-family: Nevis;
	src: url('../fonts/nevis.ttf');
	font-family: TahomaBold;
	src: url('../fonts/tahomabd.ttf');
}